#voucher_list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    text-align: center;

}
#voucher_list > div {
    border: 1px solid red;
}

#navbar {
    display: flex;
    margin: auto;

}
p {
    font-weight: bold;
}